@page "/actiondetail/{ActionId}"

@inherits PetsOnTrail.App.Pages.ActionDetail.ActionDetailBase

<h3>ActionDetail</h3>

<p>This is the ActionDetail page.</p>

<h1>@ActionId</h1>

@if (Action != null)
{
    <h2>@Action.Name</h2>
    <h3>@Action.Description</h3>
    <h4>@Action.Term?.From - @Action.Term?.To</h4>
}
else
{
    <p><em>Loading...</em></p>
}
